* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #f3f2f1;
  font-family: "Cormorant Garamond", serif;
  overflow-x: hidden;
  position: relative;
}

#logo {
  color: #284135;
  font-family: "Italianno", cursive;
  font-size: 2.8rem;
  z-index: 2;
}

.nav-header {
  min-height: 10vh;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #284135;
  width: 80%;
  margin: auto;
  padding: 2rem 0rem;
  z-index: 2;
  position: relative;
}

.burger {
  cursor: pointer;
}

.burger .line1,
.burger .line2 {
  width: 3rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: #284135;
  pointer-events: none;
}

.slide {
  min-height: 100vh;
  margin: 0 auto 0 auto;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #284135;
}

.hero-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-preferred-size: 25rem;
      flex-basis: 25rem;
  padding-left: 5rem;
  position: relative;
}

.hero-desc .title h2 {
  font-size: 3rem;
  font-weight: 700;
  padding: 1rem 0;
  letter-spacing: 0.05rem;
}

.hero-desc p {
  margin-top: 1.5rem;
  font-weight: 400;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}

.btn-main {
  margin-top: 3rem;
  padding: 0.5rem 2rem;
  font-size: 1.3rem;
  background: none;
  border: 1px solid #284135;
  color: #284135;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.btn-main:hover {
  background-color: #284135;
  color: #f3f2f1;
}

.hero-img {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-flex: 25rem;
      -ms-flex: 25rem;
          flex: 25rem;
  overflow: hidden;
}

.hero-img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #284135;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  opacity: 1;
  clip-path: circle(50px at 100% -10%);
  -webkit-clip-path: circle(50px at 100% -10%);
}

.nav-bar .navbar-nav {
  font-size: 4rem;
  -ms-flex-preferred-size: 30rem;
      flex-basis: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav-bar .navbar-nav a {
  color: #999790;
  padding: 2rem 0;
  -webkit-transition: color 0.5s ease-in;
  transition: color 0.5s ease-in;
}

.nav-bar .navbar-nav a:hover {
  color: #f3f2f1;
}

.nav-bar .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 30rem;
      flex-basis: 30rem;
}

.nav-bar .contact h2 {
  font-size: 5rem;
  color: #f3f2f1;
  padding: 2rem 0;
}

.nav-bar .contact p,
.nav-bar .contact a {
  text-align: center;
  font-size: 1.2rem;
  line-height: 2rem;
  color: #999790;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #284135;
  padding: 0.5rem 0;
  color: #999790;
}

footer h1 {
  font-size: 3rem;
  color: #f3f2f1;
  font-family: "Italianno", cursive;
  letter-spacing: 0;
}

footer a {
  padding: 0.5rem 0 0.5rem 0;
  color: #f3f2f1;
}

.reveal-img,
.reveal-text {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f3f2f1;
  left: 0;
  top: 0%;
}

.cursor {
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid #999790;
  border-radius: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -webkit-transition-property: border, -webkit-transform;
  transition-property: border, -webkit-transform;
  transition-property: border, transform;
  transition-property: border, transform, -webkit-transform;
  -webkit-transform-origin: 75% 75%;
          transform-origin: 75% 75%;
}

.scrollmagic-pin-spacer {
  position: static !important;
}

.cursor.nav-active {
  -webkit-transform: scale(3);
          transform: scale(3);
  border: 1px solid #284135;
}

body.hide {
  overflow: hidden;
}

.title {
  position: relative;
  overflow: hidden;
}

.title-swipe {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  mix-blend-mode: darken;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.t-swipe1 {
  background: #999790;
}

.main-img {
  height: 90vh;
  background-image: url("../assets/img/aboutUs-main.jpg");
  -o-object-position: cover;
     object-position: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.about-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10rem 10%;
}

.about-info .about-info--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-info .about-info--title h1 {
  font-size: 4rem;
  font-family: "Italianno", cursive;
  color: #284135;
  padding: 1rem;
}

.about-info .about-info--title p {
  font-size: 2rem;
  padding: 0 20% 1rem 20%;
  text-align: center;
}

.about-info .about-info--desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5rem;
}

.about-info .about-info--desc div {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-info .about-info--desc div p,
.about-info .about-info--desc div a {
  font-size: 1.2rem;
  padding: 1rem 0;
  color: #284135;
}

.services-img {
  height: 90vh;
  background-image: url("../assets/img/services-main.jpg");
  -o-object-position: cover;
     object-position: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.services .services-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100vw;
}

.services .services-block .services-block--left {
  width: 50%;
}

.services .services-block .services-block--left img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.services .services-block .services-block--right {
  width: 50%;
  padding: 4rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.services .services-block .services-block--right h1 {
  font-size: 4rem;
  color: #284135;
  padding: 1rem;
}

.services .services-block .services-block--right p {
  font-size: 1.2rem;
  padding: 2rem;
  color: #284135;
}

.services .services-block #right-align {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: right;
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2rem 8rem 4rem 8rem;
}

.portfolio .portofolio-sample {
  height: 40rem;
  width: 30rem;
  padding: 0 2rem 8rem 2rem;
  color: #284135;
}

.portfolio .portofolio-sample img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.portfolio .portofolio-sample p {
  padding: 1rem;
  text-align: center;
}

.potfolio-img {
  height: 90vh;
  background-image: url("../assets/img/marisa-morton-h-dR-XFJXis-unsplash.jpg");
  -o-object-position: cover;
     object-position: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.sample-board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 8rem;
}

.sample-board .sample-board--single {
  padding: 1rem 8rem;
  width: 90rem;
  height: 50rem;
}

.sample-board .sample-board--single img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sample-board .sample-board--double {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 8rem;
  width: 90rem;
}

.sample-board .sample-board--double img {
  width: 50%;
  height: 50rem;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 2rem 1rem;
}

.sample-1-img {
  height: 90vh;
  background-image: url("../assets/img/portfolio/sample-1/jeremy-wong-weddings-464ps_nOflw-unsplash.jpg");
  -o-object-position: cover;
     object-position: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.sample-2-img {
  height: 90vh;
  background-image: url("../assets/img/portfolio/sample-2/jeremy-wong-weddings-3kjxOxW1Q-4-unsplash.jpg");
  -o-object-position: cover;
     object-position: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.sample-3-img {
  height: 90vh;
  background-image: url("../assets/img/portfolio/sample-3/photos-by-lanty--pcFcc64vGE-unsplash.jpg");
  -o-object-position: cover;
     object-position: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.sample-4-img {
  height: 90vh;
  background-image: url("../assets/img/portfolio/sample-4/jeremy-wong-weddings-AlF80wr34Cw-unsplash.jpg");
  -o-object-position: cover;
     object-position: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.sample-5-img {
  height: 90vh;
  background-image: url("../assets/img/portfolio/sample-5/thomas-william-6Sls-TB27kM-unsplash.jpg");
  -o-object-position: cover;
     object-position: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 1024px) {
  main {
    width: 100%;
    margin: 0;
  }
  .slide {
    display: block;
    width: 100%;
    text-align: center;
  }
  .hero-desc {
    padding: 0;
  }
  .hero-img {
    padding-top: 4rem;
  }
  .hero-desc h2 {
    font-size: 1.6rem;
    padding: 1rem 0rem;
  }
  .hero-desc p {
    padding: 2rem 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
  }
  .services .services-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .services .services-block .services-block--right {
    width: 100%;
    margin-bottom: -5rem;
  }
  .services .services-block--left {
    width: 100%;
    margin-bottom: -5rem;
  }
  .services .services-block--left img {
    display: none;
  }
  .nav-bar .navbar-nav {
    font-size: 2rem;
    padding-left: 3rem;
  }
  .nav-bar .contact h2 {
    font-size: 2.7rem;
  }
  .nav-bar .contact p,
  .nav-bar .contact a {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */